* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

html, body {
  width: 100vw;
  height: 100vh;
  background-color: #272727;
  -webkit-box-shadow: inset 0 0 100px 2.5px #000000;
          box-shadow: inset 0 0 100px 2.5px #000000;
}

main {
  height: 100%;
  width: 100%;
}

main #turn {
  font-weight: 900;
  font-size: 40px;
  color: white;
  text-shadow: #000 0px 0px 1px, #000 0px 1px 1px;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 2vh;
  position: relative;
}

main #board {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #272727;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  gap: 5vh;
  border-radius: 10px;
}

main #board .slot {
  content: '';
  height: 18vh;
  width: 18vh;
  cursor: pointer;
  font-size: 14vh;
  text-align: center;
  font-weight: 900;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  -webkit-box-shadow: 9px 9px 22px 6px rgba(0, 0, 0, 0.4), -9px -9px 22px 2px rgba(73, 73, 73, 0.4);
          box-shadow: 9px 9px 22px 6px rgba(0, 0, 0, 0.4), -9px -9px 22px 2px rgba(73, 73, 73, 0.4);
  border-radius: 5px;
}

main #board .slot:active {
  -webkit-transform: translatey(20px);
          transform: translatey(20px);
  -webkit-box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.4), 9px 9px 22px 6px rgba(0, 0, 0, 0.4), -9px -9px 22px 2px rgba(73, 73, 73, 0.4);
          box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.4), 9px 9px 22px 6px rgba(0, 0, 0, 0.4), -9px -9px 22px 2px rgba(73, 73, 73, 0.4);
}

main #board .slot span {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: 'Fredoka', sans-serif;
}

#finish-screen {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

#finish-screen .finish-box {
  padding: 2rem 8rem;
  background-color: #272727;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 16px 1px rgba(41, 41, 41, 0.4), -3px -3px 16px 1px rgba(73, 73, 73, 0.4);
          box-shadow: 3px 3px 16px 1px rgba(41, 41, 41, 0.4), -3px -3px 16px 1px rgba(73, 73, 73, 0.4);
}

#finish-screen .finish-box p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-size: 50px;
}

#finish-screen .finish-box #restart {
  font-size: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 40px auto;
  cursor: pointer;
  border: 1px solid white;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: rgba(56, 56, 56, 0.6);
}

#finish-screen .finish-box #restart:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

@media screen and (max-width: 640px) {
  .finish-box {
    padding: 1rem 2rem !important;
  }
  .finish-box p {
    font-size: 25px !important;
  }
  .finish-box #restart {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 580px) {
  #board .slot {
    height: 16vh !important;
    width: 16vh !important;
    -webkit-box-shadow: 4px 4px 10px 3px rgba(0, 0, 0, 0.4), -4px -4px 10px 3px rgba(73, 73, 73, 0.4) !important;
            box-shadow: 4px 4px 10px 3px rgba(0, 0, 0, 0.4), -4px -4px 10px 3px rgba(73, 73, 73, 0.4) !important;
  }
  #board .slot:active {
    -webkit-transform: translatey(10px) !important;
            transform: translatey(10px) !important;
    -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.4), 4px 4px 10px 3px rgba(0, 0, 0, 0.4), 4px 4px 10px 3px rgba(73, 73, 73, 0.4) !important;
            box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.4), 4px 4px 10px 3px rgba(0, 0, 0, 0.4), 4px 4px 10px 3px rgba(73, 73, 73, 0.4) !important;
  }
}

@media screen and (max-width: 460px) {
  #board {
    gap: 2.5vh !important;
  }
  #board .slot {
    height: 12vh !important;
    width: 12vh !important;
    font-size: 8vh !important;
    -webkit-box-shadow: 4px 4px 10px 3px rgba(0, 0, 0, 0.4), -4px -4px 10px 3px rgba(73, 73, 73, 0.4) !important;
            box-shadow: 4px 4px 10px 3px rgba(0, 0, 0, 0.4), -4px -4px 10px 3px rgba(73, 73, 73, 0.4) !important;
  }
  #board .slot:active {
    -webkit-transform: translatey(10px) !important;
            transform: translatey(10px) !important;
    -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.4), 4px 4px 10px 3px rgba(0, 0, 0, 0.4), 4px 4px 10px 3px rgba(73, 73, 73, 0.4) !important;
            box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.4), 4px 4px 10px 3px rgba(0, 0, 0, 0.4), 4px 4px 10px 3px rgba(73, 73, 73, 0.4) !important;
  }
}
/*# sourceMappingURL=style.css.map */